html {
	background-color: #f6f6f6;
}

body {
	padding: 2.5%;
	margin: 3em auto;
	background-color: #fff;
	border: solid 1px #ddd;
}

#not_found
#homepage,
#doc {
	width: 85%;
}

#doc {
	max-width: 1280px;
}

#not_found {
	max-width: 1024px;
	text-align: center;
}

#homepage .brochure {
	background-color: #eee;
	padding: 2em;
	border-radius: 2em;
}

#homepage header {
	text-align: center;
	border-bottom: dotted 1px #ccc;
	margin-bottom: 2em;
	background-color: #fff;
}

#homepage h1 {
	color: #3E4C56;
}

#homepage h2 {
	border-bottom: none;
	text-align: center;
}


#homepage .brochure {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 3%;
}

	#homepage .brochure section {
		padding: 2em;
		border-left: solid 1px #ccc;
		height: 100%;
	}

	#homepage .brochure div:first-child section {
		border-left: 0;
	}

#homepage h4 {
	margin-bottom: 1em;
}

object {
	padding: 1em;
}

#homepage .group > ul {
	float: left;
	width: 30%;
	list-style: none;
	padding-left: 1em;
	margin-left: 0;
	position: relative;
	border-left: dotted 1px #bbb;
}

#homepage .group > :nth-child(6n) {
	clear: both;
}

#homepage .group > ul li {
	width: 45%;
	margin-right: 5%;
	float: left;
}

#homepage .group > h5 {
	float: left;
	width: 15%;
	text-align: right;
	padding: .5em;
	padding-top: 0;
	margin: 0;
	color: #98483C;
}

#homepage .news {
	-moz-column-count: 3;
	-moz-column-gap: 2em;
	-webkit-column-count: 3;
	-webkit-column-gap: 2em;
	column-count: 3;
	column-gap: 2em;
	text-align: justify;
}

#doc body .group {
}

#doc h1 {
	border-bottom: dotted 1px #ccc;
	padding-bottom: .5em;
	background: url("/images/inkwell_logo_dark.png") no-repeat scroll center right transparent;
	background-size: 200px;
}

#doc .toc {
	font-size: .85em;
	position: relative;
	top: 0;
}

#doc .toc > ul > li > a {
	font-weight: bold;
	display: block;
	border-bottom: dotted 1px #ccc;
	padding-bottom: .5em;
	margin: 1em 0 .5em;
}

#doc .toc li:not(.active) a {
	opacity: .50;
}

#doc .toc li.active > a {
	opacity: 1;
}


pre {
	padding: 20px;
	background-color: #000;
	color: #fff;
	border-radius: 5px;
}

code {
	font-family: "Source Code Pro";
	color: #DC9F00;
	background-color: #efefef;
	font-size: .8em;
	padding: 2px;
	line-height: 1.75em;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	color: #4F7A3F;
}